@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body{
    background-color: black;
}
main {
  background-image: url("assets/images/first_bg_image.jpeg");
  height: 120vh;
  /* background-size:100vw ; */
  background-size: max(1000px, 125vw);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
main .box {
  height: 121vh;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0%;
}
nav {
  max-width: 95vw;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: auto;
  height: 62px;
  padding-top: 35px;
}
nav img {
  color: red;
  width: 220px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
  /* padding: 20px; */
}
.content {
  /* .martel-sans-bold {
        font-family: "Martel Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
      } */
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  height: 100%;
  justify-content: center;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 23px;
  height: 800px;
  padding: 30px 50px;
  text-align: center;
}
.content> :first-child {
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  line-height: normal;
}
.content> :nth-child(2) {
  font-weight: 400;
  font-size: 36px;
}
.content> :nth-child(3) {
  font-weight: 400;
  font-size: 30px;
}
.seperation{
    height: 12px;
    background-color: gray;
}
.btn{
    font-size:21px ;
    font-weight: 400;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 7px;
    cursor: pointer;
}

.btn-red-sm{
    font-weight: 650;
    font-size: 21px;
    padding:10px 20px ;
    background-color: red;
    color: white;
    border:1px solid red;
    border-radius: 7px;
}
.btn-red{
    font-weight: bold;
    font-size: 35px;
    padding:20px 50px ;
    background-color: red;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border:1px solid red;
}
.main input{
    /* text-align: left; */
    font-size: 25px;
    padding:25px 200px 25px 20px ;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    font-weight: 50;
    border: 1px solid rgb(143, 140, 140);
}
.contentinputbutton{
    text-align: center;
    align-items: center;
    display: flex;
    gap: 15px;
}
.first{
    max-width: 93vw;
    margin: auto;
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}
.first div{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.first > div :nth-child(1) {
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
    line-height: normal;
    flex-direction: column;
  }
.first > div :nth-child(2) {
    font-weight: 400;
    font-size: 36px;
  }
.seperation{
      height: 12px;
      background-color: gray;
  }
  /* .secImage{
    position: relative;
    width: 90vw;
  }
.secImage img{
    width: 45vw;
    position: relative;
    z-index: 10;
}
.secImage video{
    width: 32.8vw;
    height: 550;
    top: 28px;
    right: 119px;
    position: absolute;
} */
.secImage{
    position: relative;
}
.secImage img{
    width: 800px;
    position: relative;
    z-index: 10;
}
.secImage video{
    width: 33vw;
    position: absolute;
    top: 128;
    right: 115;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    /* font-size: 48px;;
    font-Family:
    "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif; */
}
.faqbox:hover {
    
    background-color:rgb(59, 59, 59) ;
}
.faqbox svg{
    filter: invert();
}
.faqbox{
    display: flex;
    background-color: rgb(45, 45, 45);
    padding: 20px;
    /* text-align: center; */
    /* display: flex; */
    justify-content: space-between;
    margin: 20px auto;
    max-width: 90vw;
    cursor: pointer;
    font-size: 36px;;
    font-Family:
    "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    transition:all 0.2s ease-in-out;

}

.faq h2{
    text-align: center;
    font-size: 48px;;
    font-Family:
    "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
    padding: 14px;
    text-align: center;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}
.footeItems{

    display: flex;
    flex-direction: column;
    gap: 23px;
}
footer a{
    color: white;
    padding: 10px;
}
.questions{
    padding: 34px 0;
}
